

:root {
  --vz: calc(0.5vw + 0.5vh);
  --primary-blue: #007dfe;
  --primary-red: #f35454;
  --primary-green: #42be9e;
  --primary-tint: #e5e5e5;
  --primary-text: #666666;
}

*{
  border: 0;
  margin: 0;
  outline: 0;
}

@font-face {
    font-family: 'VarelaRound';
    src: url('./fonts/font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background-color: #4c74f815;
  font-family: 'VarelaRound';
  color: var(--primary-text);
}

.sidebar{
  z-index: 1;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 7vh;
  background-color: white;
  box-shadow: 0px 1px 3px 1px #dfdfdf;
}

.sidebar > button{
  color: #666;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  background: transparent;
  font-size: calc(var(--vz) * 1.5);
  text-align: left;
  height: 7vh;
}

.sidebar > button:hover{
  cursor: pointer;
  color: black;
  background-color: #007dfe55;
}

#logo{
  width: 4vw;
  height: 2.5vw;
  margin-left: 1vw;
}

#back{
  height: 3vw;
  width: 3vw;
  background: red;
  text-align: left;
  border-radius: 5px;
  background: #fff;
  font-size: calc(var(--vz) * 1.5);
}

#back:hover {
  cursor: pointer;
  color: #000;
}
